* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/2 arial, "Microsoft Yahei", sans-serif;
	color: #333;
}

#login {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

#username {
	margin: 200px auto 0;
	padding: 5px 10px;
	width: 300px;
	line-height: 2;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.container {
	padding: 20px 0;
	margin: 0 auto;
	width: 800px;
}

#message {
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
}
#message:focus {
	box-shadow: inset 0 0 5px #ccc;
}
.cmds {
	margin: 10px 0;
	text-align: right;
}
button {
	padding: 0 10px;
	line-height: 2;
}

.message-from {
	padding-right: 10px;
	color: #66f;
}
.message-mine .message-from {
	color: #f63;
}
.message-content {
	
}